.labirint {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 16px;
    position: relative;

    &__row {
        position: relative;
        min-width: 616px;
        min-height: 616px;
    }
}
.row {
    display: flex;
}
.cell {
    width: 150px;
    height: 150px;
    border: 2px solid gray;
}

.wall {
    background: lightgray;
}

.empty {
    background: white;
}

.message {
    h3 {
        margin-bottom: 4px;
    }

    p{
        margin-top: 4px;
        color: gray;
    }

    button {
        border: 0;
        padding: 12px 24px;
        background: green;
        color: white;
        cursor: pointer;
        border-radius: 4px;
    }

    &--loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__block {
        position: relative;
        max-width: 320px;
        min-height: 180px;
        max-height: 180px;
        overflow: auto;
        margin: 8px 0 12px;

        .message--loading {
            justify-content: flex-start;
        }
    }

    &__botton {
        display: flex;
        gap: 16px;
    }

    table {
        border-collapse: collapse;
        margin-bottom: 20px;

        tr {
            border-bottom: 1px solid lightgray;
        }

        td {
            padding: 4px 12px;
        }


        .td-title {
            color: gray;
            font-weight: bold;
            padding: 8px 12px;
        }
    }

}